* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: rgb(30, 173, 198);
    font-size: 80px;
    height: 100vh; /* Para ocupar toda a altura da viewport */
    display: flex; /* Habilita o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.teams{
    text-align: center;
}

.top {
    margin-bottom: 20px;
    
}

h2 {
   
    color: aliceblue;
    
    
}

.button {
    border-radius: 10px; 
   height: 105px;
   width: 250px;
   font-size: 40px;
   background-color: black;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    body {
        display:flex;
        font-size: 14px; /* Tamanho reduzido para mobile */
    }

    .button {
        height: 50px; /* Diminuir a altura do botão */
        width: 90px; /* Aumentar a largura do botão para ocupar 80% da tela */
        font-size: 14px; /* Aumentar o tamanho da fonte do botão */
        margin: 0 auto; /* Centralizar o botão horizontalmente */
        width: 100px;
        width: 50%; /* Botão ocupa 100% da largura em telas pequenas */
        font-size: 18px; 
    }
    .top {
        flex-direction: column; /* Muda a direção para coluna em telas pequenas */
    }
    h2 {
        font-size: 60px;
        padding: top; /* Ajusta o tamanho da fonte do título */
    }

    .results {
        padding: 1px;
        height: 100%; 
        font-size: 20px;
        
    }
}
